* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f2f2;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  border-bottom: 2px solid #aaa;
  background: white;
}

.logo img {
  height: 40px;   /* bisa kamu ubah */
  width: auto;
  display: block;
}

nav a {
  text-decoration: none;
  border: 1px solid #aaa;
  padding: 5px 15px;
  margin-left: 5px;
  color: black;
  font-size: 14px;
}

.section {
  padding: 50px 40px;
  background: white;
  border-bottom: 2px solid #aaa;
}

.banner {
  margin-top: 20px;
  border: 1px solid #aaa;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}

.hq-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 30px;
}

.circle {
  width: 130px;
  height: 130px;
  border: 2px solid #aaa;
  border-radius: 50%;
}

.hq-item {
  text-align: center;
}

.message-container {
  display: flex;
  gap: 60px;
  margin-top: 20px;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #aaa;
}

textarea {
  height: 90px;
}

button {
  padding: 6px;
  border: 1px solid #aaa;
  background: #eee;
}

.result-box {
  width: 50%;
  border: 1px solid #aaa;
  padding: 15px;
  font-size: 14px;
}

footer {
  padding: 10px;
  text-align: right;
  font-size: 12px;
  background: white;
}

/* Responsive */
@media(max-width: 768px) {
  .message-container,
  .hq-container {
    flex-direction: column;
    align-items: center;
  }

  form, .result-box {
    width: 100%;
  }
}